@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
 }
 
 html {
   scroll-behavior: smooth;
   overflow-x: hidden;
 }

 .shorten-text {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }